<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$(MSBuildThisFileDirectory)\..\..\..\dist\publish\</PublishDir>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishReadyToRun>true</PublishReadyToRun>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
</Project>

